.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 80px;

  background: rgba(15, 23, 42, 0.95);
  backdrop-filter: blur(10px);

  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.navbar h2 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #e5f838;
  cursor: pointer;
  transition: 0.3s;
}

.navbar h2:hover {
  transform: scale(1.05);
}

.navbar ul {
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style: none;
}

.navbar ul li {
  position: relative;
  cursor: pointer;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
  transition: 0.3s;
}

.navbar ul li:hover {
  color: #e5f838;
}

.navbar ul li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;

  width: 0;
  height: 2px;

  background: #e5f838;
  transition: width 0.3s ease;
}

.navbar ul li:hover::after {
  width: 100%;
}

/* Mobile Menu Button */
.menu-btn {
  display: none;
  font-size: 1.8rem;
  color: white;
  cursor: pointer;
}
.navbar ul li a {
  color: #e5f838;
  text-decoration: none;
}

.navbar ul li a:hover {
  color: #e5f838;
}
/* Responsive */
@media (max-width: 768px) {
  .navbar {
    padding: 20px;
  }

  .menu-btn {
    display: block;
  }

  .navbar ul {
    position: absolute;
    top: 80px;
    left: 0;

    width: 100%;
    background: #e5f838;

    flex-direction: column;
    gap: 1.5rem;

    padding: 20px 0;

    display: none;
  }

  .navbar ul.active {
    display: flex;
  }
}