* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0f172a;
  color: white;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 80px;
}

.hero {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px;
}

.hero h1 {
  font-size: 4rem;
}

.hero span {
  color: #38bdf8;
}

.skills-grid,
.project-grid {
  display: grid;
  gap: 20px;
  padding: 20px;
}

.skills-grid {
  grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
}

.project-grid {
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
}

.skill-card,
.project-card {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
}

.contact {
  text-align: center;
  padding: 80px;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 2rem;
}